@use "../abstracts/variables" as *;


.form{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    max-width:1000px;
    width:100%;
    background-image:$overlay_primary, url("../img/G3.700w.500w-500h.webp");
    background-position: center center, center center;
    background-size:contain, cover;
    background-repeat:no-repeat, no-repeat;
    padding:50px 0;

    &__input-container{
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;

        @media screen and (max-width:#{$tabletSize}){
            flex-direction:column;
            width:50%;
        }

        &__input{
            border:1px solid $mainGreen;
            background-color:$white;
            color:$mainGreen;
            font-size:1rem;
            font-family: 'roboto';
            min-width:300px;
            width:100%;
            height:50px;
            margin:16px;
            text-align:center;
            font-weight: 700;
        }
    }

    &__textarea{
        border:1px solid $mainGreen;
        background-color:$white;
        color:$mainGreen;
        font-size: 1rem;
        font-family: 'roboto';
        min-width: 300px;
        width:100%;
        height:100px;
        font-weight:700;
        text-align:center;
        margin:16px;
    }


    &__agb-container{
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        padding:16px;

        @media screen and (max-width:#{$tabletSize}){
            flex-direction:column;
        }

    &__checkbox{
        width:25px;
        height:25px;
        margin-right:25px;
    }

    &__text{
        color:$white;
        max-width:500px;
        font-family: 'roboto', sans-serif;

        @media screen and (max-width:#{$tabletSize}){
            text-align:center;
        }
    }
}
}