@use "../abstracts/variables" as *;

.header__navigation{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    position:relative;
    padding:0 200px;

    @media screen and(max-width:#{$tabletSize}){
        padding:0 $tabletPadding;
    }

    @media screen and(max-width:#{$smartphoneSize}){
        padding:30px $smartphonePadding 25px $smartphonePadding;
    }

    &__link{
        width:700px;
        height:300px;

        @media screen and(max-width:#{$laptopSize}){
            width:450px;
            height:200px;
        }

        @media screen and(max-width:#{$smallViewport}){
            width:250px;
            height:100px;
        }
    }

    &--button-primary{
        margin-top:30px;

        @media screen and(max-width:#{$smartphoneSize}){
            display:none;
        }
    }
}