
/* ############################################################ RESPONSIVE DESIGN SIZES ######################################################################### */

$laptopSize: 1600px;
$tabletSize: 1000px;
$smartphoneSize:800px;


/* ###########################################################          Colors          ######################################################################### */