
/* ############################################################ RESPONSIVE DESIGN SIZES ######################################################################### */

$laptopSize: 1600px;
$tabletSize: 1000px;
$smartphoneSize:800px;

$laptopPadding:200px;
$tabletPadding:120px;
$smartphonePadding:20px;


/* ###########################################################          Colors          ######################################################################### */

$overlay_primary: linear-gradient(180deg,rgba(0,0,0,0.9), rgba(2, 32, 4, 0.9));
$mainGreen: #2C4C28;
$white: #fff;
