@use "../abstracts/variables" as *;

.button-primary{
    appearance: unset;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0.5rem 1rem;
    background-color:$mainGreen;
    color:$white;
    min-width:200px;
    min-height:30px;
    font-size:1.5rem;
    border:none;
    font-family: "badsuabia", sans-serif;
    letter-spacing: 2px;
    cursor:pointer;
    margin-top:30px;
    outline:none;

    &--link{
        max-width:400px;
    }

    &--header-link{
        @media screen and(max-width:#{$smartphoneSize}){
            display:none;
        }
    }

    &:hover{
        color:$mainGreen;
        background-color:$white;
        transition: all 0.225s ease-in-out;
    }

    &--on-white:hover{
        border:1px solid $mainGreen;
    }
}