

.button-primary{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0.5rem 1rem;
    background-color:#2C4C28;
    color:#532b15;
    min-width:200px;
    min-height:30px;
    font-size:1.2rem;
    border-radius:16px;
    font-family:'danger-zone';
}