@use "../abstracts/variables" as *;

.heading{
    color:white;
    font-size:6rem;
    max-width:700px;
    font-family: "badsuabia", sans-serif;
    font-weight: normal;

    @media screen and(max-width:#{$laptopSize}){
        font-size: 4rem;
        max-width:600px;
    }
}