@use "../abstracts/variables" as *;

.text-panel{
    background-color:$white;
    color:$mainGreen;
    font-family: "badsuabia", sans-serif;
    margin:24px 0;
    font-size:2rem;
    padding:8px 16px;
    

    &--brown{
        color:$alternativeBrown;
        padding:0;
    }
}