@font-face {
    font-family: "danger-zone";
    src: url("../fonts/DangerZoneWarning.ttf") format("ttf");
}

@font-face {
    font-family: "war-is-over";
    src: url("../fonts/War_is_over.ttf") format("ttf");
}