@font-face {
    font-family: "badsuabia";
    src: url(../fonts/BadSuabiaSwing-Regular.otf) format("opentype");
}

@font-face {
    font-family: "roboto";
    src: url(../../fonts/Roboto-Medium.ttf) format("opentype");
}