@use "../../abstracts/variables" as *;
@use "../../base/index" as *;
@use "../../components/index" as *;
@use "../../layout/index" as *;


.contact{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:100%;
    min-height:100vh;
    background-color: $white;
    padding:100px 0;
}