@use "../../abstracts/variables" as *;
@use "../../base/index" as *;
@use "../../components/index" as *;
@use "../../layout/index" as *;


.header{
    width:100%;
    min-height:100vh;
    background-image: $overlay_primary, url("../img/members/team.700w.500h.webp");
    background-repeat: no-repeat,no-repeat;
    background-size:cover, cover;
    background-position:center center,center center;
    position:relative;

    &__teaser{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        padding-top:50px;

        @media screen and (max-width:#{$laptopSize}){
            padding-top:25px;
        }

        @media screen and (max-width:#{$smallViewport}){
            padding-top:100px;
        }

        @media screen and (max-width:#{$smartphoneSize}){
            flex-direction: column;
            padding-top:0;
        }
    }
}