@use "../../abstracts/variables" as *;
@use "../../base/index" as *;
@use "../../components/index" as *;
@use "../../layout/index" as *;


.presentation{
    display:flex;
    justify-content: space-between;
    align-items:center;
    overflow:hidden;
    position:relative;
    width:100%;
    min-height:100vh;
    background-color:whitesmoke;
    padding:50px;

    @media screen and(max-width:$smartphoneSize){
        padding:20px;
    }


    &__design-element{
        display:flex;
        justify-content: center;
        align-items:center;
        width:400px;
        height:600px;
        position:relative;
        background-image:$overlyay_secondary, url("../img/presentation_background.jpg");
        background-size:cover, cover;
        background-position:center center, center center;
        transform-style: preserve-3d;
        transition:transform 1s ease-in-out;
        cursor:pointer;

        @media screen and(max-width:$laptopSize){
            width:300px;
            height:500px;
        }

        &:hover{
            transform: rotateY(180deg);
        }

        &__image--front{
            width:600px;
            height:unset;
            transform:rotate(-45deg) translateZ(50px); 
            position:absolute;
            top:30%;
            left:auto;
           
            @media screen and(max-width:$laptopSize) {
                width:450px;
            }
        }

        &__image--back{
            width:600px;
            height:unset;
            transform:rotate(45deg) translateZ(-50px);
            position:absolute;
            top:30%;
            left:auto;
            
            @media screen and(max-width:$laptopSize){
                width:450px;
            }
        }
        
    }
}