@use "../../abstracts/variables" as *;
@use "../../base/index" as *;
@use "../../components/index" as *;
@use "../../layout/index" as *;

.advantages{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    min-height:100vh;
    padding:50px 0;
    background-image: $overlay_primary,url("../img/soldier_background.700w.jpeg") ;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;

    &__products{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        padding:50px 0px;

        @media screen and (max-width:$tabletSize){
            flex-direction: column;
        }

        &__card{
            background-image: $overlay_primary;

            @media screen and (max-width:$tabletSize){
                margin:30px 0 30px 0;
            }


            &__backside-description{
                display:flex;
                justify-content: center;
                align-items:center;
                color:$white;
                max-width:80%;
                position:absolute;
                top:50px;
                left:auto;
                right:auto;
                font-family:'roboto', sans-serif;
                text-align:center;
                transform:translateZ(-50px) rotateY(180deg);
            }

            &__image{
                backface-visibility: hidden;
            }
        }
    }
}